.slides,
.slides p {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}
.slides h1,
.slides h2,
.slides h3,
.slides h4,
.slides h5,
.slides h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

.slides .slides-form {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 600;
}

.slides .button {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
}

/* global */
hr {
  border-top: 5px solid #2F30B8;
  width: 120px;
  margin: 2em 0;
}

.primary {
  background-color: #456DFF !important;
}

/* nav */

.my-nav {
  padding-left: calc(8% + 15px);
  padding-right: calc(8% + 15px);
}

.panel svg {
  width: 80px;
  height: 80px;
}

.slides.whiteSlide .panel {
  color: #ffffff;
}


/* Landing */

.landing {
  background-color: #fff !important;
  padding-bottom: 3em;
  margin-bottom: -2px;
}

.background-container {
  height: 550px;
  background-image: url(../assets/img/background.svg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.world-contents {
  display: block;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}

.river {
  background-image: url(../assets/img/river.svg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  height: 35vh;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
}

.reflection {
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 28vh;
  left: 0;
  margin: auto;
  width: 15%;
  background-color: #EAA1FF;
  border-radius: 50%;
  border: 2px solid transparent;
  animation: riverMovement 1s linear infinite;
  opacity: 0.5;
}

.shooting-star {
  position: absolute;
  border: 2px solid transparent;
  border-bottom: 60px solid #fff;
  position: absolute;
  z-index: 4;
  animation: cometFlight 3s ease infinite;
}

.shooting-star:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 0 15px 0 #fff;
}

.star-bg {
  background-image: url(../assets/img/stars.svg);
  background-position: center;
  background-size: auto;
  margin: 0 auto;
  position: absolute;
  height: 30%;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.stars {
  background-color: white;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  top: 5%;
  right: 65%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-2 {
  top: 15%;
  left: 15%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-3 {
  top: 25%;
  right: 15%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-4 {
  top: 8%;
  right: 20%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.star-5 {
  top: 12%;
  left: 45%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-6 {
  top: 20%;
  left: 65%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

.left-mask, .right-mask {
  height: 65%;
  width: 50%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -5px;
}

.left-mask {
  background-image: url(../assets/img/left-mask.svg);
  left: 0;
  z-index: 10;
  background-position: bottom left;
}

.right-mask {
  background-image: url(../assets/img/right-mask.svg);
  right: 0;
  z-index: 11;
  background-position: bottom right;
}

.tablet-illustration {
  position: absolute;
  z-index: 12;
  bottom: -2em;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
}

.clouds {
  position: absolute;
  fill: #fff;
}

.cloud1 {
	top: 40px;
  width: 100x;
  height: 200px;
  z-index: 6;
  fill: #fff !important;
  opacity: 0.7;
  -webkit-animation: move 40s linear infinite;
  -moz-animation: move 40s linear infinite;
  -o-animation: move 40s linear infinite;
  animation: move 40s linear infinite;
}

.cloud2 {
	top: 120px;
  width: 160x;
  height: 260px;
  z-index: 7;
  fill: #fff !important;
  opacity: 0.5;
  -webkit-animation: move 45s linear 2s infinite backwards;
  -moz-animation: move 45s linear 2s infinite backwards;
  -o-animation: move 45s linear 2s infinite backwards;
  animation: move 45s linear 2s infinite backwards;
}

.cloud3 {
	top: 180px;
  width: 80x;
  height: 160px;
  z-index: 7;
  fill: #eee !important;
  opacity: 1;
  -webkit-animation: move 40s linear infinite;
  -moz-animation: move 40s linear infinite;
  -o-animation: move 40s linear infinite;
  animation: move 40s linear infinite;
}

.cloud4 {
	top: 100px;
  width: 60x;
  height: 140px;
  z-index: 7;
  fill: #fff !important;
  opacity: 0.3;
  -webkit-animation: move 25s linear infinite;
  -moz-animation: move 25s linear infinite;
  -o-animation: move 25s linear infinite;
  animation: move 25s linear infinite;
}

@media (min-width:320px) and (max-width: 480px) {

  .background-container {
    height: 90vh;
  }

  .world-contents {
    padding-top: 50px;
    height: 100%;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  .river {
    height: 35vh;
  }

  .reflection {
    bottom: 25vh;
    animation: riverMovement 3s linear infinite;
    opacity: 0.2;
  }

  .left-mask, .right-mask {
    width: 40%;
  }

  .cloud2 {
    width: 120x;
    height: 180px;
  }

  .tablet-illustration {
    width: 60%;
  }
}

@media (min-width:481px) and (max-width: 1229px) {
  .background-container {
    height: 90vh;
  }

  .world-contents {
    padding-top: 50px;
    height: 100%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  .river {
    height: 35vh;
  }

  .reflection {
    bottom: 25vh;
  }

  .left-mask, .right-mask {
    height: 45%;
  }

}

@media (min-width:481px) and (max-width: 760px) {
  .river {
    height: 40vh;
  }
  .reflection {
    bottom: 28vh;
  }
}

@media (min-width:1230px) and (max-width:1550px) {
  .background-container {
    height: 90vh;
  }

  .world-contents {
    height: 100%;
  }

  .river {
    height: 40vh;
  }

  .left-mask, .right-mask {
    height: 58%;
  }
}

@media (min-width:1100px) and (max-height:1080px) {
  .left-mask, .right-mask {
    height: 75%;
  }
}

@media (min-width:1390px) and (max-width:1550px) {
  .left-mask, .right-mask {
    height: 62%;
  }
}

@media (min-width:1390px) and (max-height:1080px) {
  .left-mask, .right-mask {
    height: 75%;
  }
}

@media (min-width:1551px) {
  .background-container {
    height: 90vh;
  }

  .world-contents {
    height: 100%;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  .tablet-illustration {
    bottom: -3em;
    width: 530px;
  }

  .left-mask, .right-mask {
    height: 80%;
  }

  .river {
    height: 35vh;
  }

  .reflection {
    bottom: 25vh;
  }
}

@media (min-width:1551px) and (max-height:800px) {
  .left-mask, .right-mask {
    height: 90%;
  }
}

@media (min-width:1890px) {
  .left-mask, .right-mask {
    height: 85%;
  }
}

@media (min-width:1890px) and (max-height:940px) {
  .left-mask, .right-mask {
    height: 100%;
  }

  .tablet-illustration {
    width: 550px;
    bottom: -5em;
  }

  .world-contents {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@media (min-width:2140px) {
  .left-mask, .right-mask {
    height: 90%;
  }
}
