html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.logo {
  width: 5em;
  height: 5em;
  margin-left: 2em;
  text-align: center;
}

.navbar {
  background-color: #FFFFFF;
  border-bottom: 5px solid #e8e8e8;
  height: 5em;
}

.navbar .links {
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 1.8em;
  font-size: 1.1em;
  float: right;
  text-align: right;
  color: #838994;
}

.navbar .links li {
  display: inline-block;
}

.navbar .links i {
  padding: 0 0.5em;
}

.navbar .links li:hover {
  color: #333333;
  cursor: pointer;
}

.navbar .links > .active {
  color: #4c5058;
  font-weight: 500;
}