body {
  background-color: #282828;
  background-image: url("../img/bg2.jpeg");
}

h1, h2, h3, h4, h5, a {
  font-family: 'Roboto Slab', serif;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-top: 2em;
  padding: 1em 1em;
}

.name {
  color: #F00;
}

.movies {
  color: #00FFE2;
}

.yes {
  color: #A2FFE3;
}

.no {
  color: #458672;
}

.light-blue {
  color: #46C0FF;
}

.lime {
  color: #78CD5B;
}

.orange {
  color: #FF9B00;
}

.pink {
  color: #FF1F85;
}

.white {
  color: #fff;
}

.hi-yellow {
  color: #A1FF00;
}