#toppic {
  height:400px;
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.nav {
  background-color: #32322C;
}

.nav a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
}

.nav li {
  display: inline;
}

.header {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-bottom: 4%;
}

.header h1 {
  margin-bottom: -2%;
  font-size: 48px;
}

.header h2 {
  font-size: 38px;
}

.header h4 {
  font-size: 24px;
}

.content {
  font-family: 'PT Sans Narrow', sans-serif;
}

.content h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 36px;
}

.content p {
  font-size: 20px;
}

.references p {
  font-family: 'PT Sans Narrow', sans-serif;
}

.references h2 {
  font-family: 'PT Sans Narrow', sans-serif;
}

#sidebar {
  background-color: red;
  height: 1350px;
}

#sidebar h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  padding-top: 60%;
  text-align: center;
  font-size: 40px;
}

#footer {
  background-color: #464641;
  height: 60px;
}

#footer p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #FFFFFF;
}

.back-to-browsing {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {

#sidebar {
  background-color:blue;
  height: 1350px;
}

#sidebar h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  padding-top: 60%;
  text-align: center;
  font-size: 40px;
}

}
