.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.nav {
  background-color: #32322C;
}

.nav a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
}

.nav li {
  display: inline;
}

#jumbo-graphic {
  height: 400px;
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg');
  background-position: center;
  background-size: 100%;
}

#header {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

#header h1 {
  margin-bottom: -15px;
}

#content {
  font-family: 'PT Sans Narrow', sans-serif;
}

#content p {
  font-size: 17px;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
}

.thumbnail img {
  height: 300px;
  float: right;
}

#footer {
  background-color: #464641;
  height: 60px;
}

#footer p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #FFFFFF;
}

.back-to-browsing {
  padding-top: 20px;
  padding-bottom: 20px;
}